<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iguest.myapplication" >

    /* android:name is the name of the subclass */
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".MyApp"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        /* All activities and references must be declared inside of the manifest       */
        /* Version code is for developers and what signals users there's a new version */
        /* Version name is for the users                                               */

        /* Intent filters filter out intents                                           */
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main_activity2" >
        </activity>

        /*
           <uses-library android:name=""></uses-library>
           Describes any shared libraries used by the app
           Normally not necessary; android shared libraries are all assumed
           Name holds the documented name of the library; not file name or path
           Required indicates whether this library is necessary for the app to work
        */
    </application>

    /* The <uses-sdk></uses-sdk> tag will be generated by Android Studio by default */

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
